@model IEnumerable<string>

<div class="alert alert-warning" style="text-align:center">
    @switch (Model.Count())
    {
        case 0:
            @: something went wrong, please try again.
            break;
        case 1:
            @Model.First();
            break;
        default:
            @: the following errors were encountered:
            <ul>
                @foreach (var item in Model)
                {
                    <li>@item</li>
                }
            </ul>
            break;
    }
    <br />
    <br />
    @Html.ActionLink("OK", "returnBack", "Home", new { returnUrl = ViewBag.returnUrl }, new { @class = "btn btn-primary  btn-block" })
</div>


