@using _123TribeFrameworker.Entity
@using _123TribeFrameworker.Infrastructrue
@model OrderDetailInfo
<script type="text/javascript">
    $(function () {
        $('#myBoards').boards({
            drop: function (e) {
                $.zui.messager.show(e.element.text() + " 拖放到 " + e.target.closest('.board').find('.panel-heading').text());
            }
        });
    })
</script>
<!-- 使用 .boards 类来管理多个 .board -->
<div class="boards" id="myBoards">
    <!-- .board 为单个容器 -->
    <div class="board panel">
        <div class="panel-heading">
            <strong>产品</strong>
        </div>
        <div class="panel-body">
            <div class="board-list">
                @foreach (var item in Html.materialInfoList())
                {
                    <div class="board-item">
                        <span class="label label-info">
                            @item.materialName
                        </span>
                        @Html.Hidden("materialId", item.id)
                        <input style="width:50%" type="number" name="num" />
                        @*@Html.TextBoxFor(x=>x.num,new { @class="form-control", type = "number" })*@
                        @*@Html.TextBox("", null, new { @class = "form-control", type = "number" })*@
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="board panel">
        <div class="panel-heading">
            <strong>订单</strong>
        </div>
        <div class="panel-body">
            <form>
                <div class="board-list">

                </div>
            </form>
        </div>
    </div>
</div>
